@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
    flex-direction: column;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.header {
    width: 100%;
    text-align: left;
    padding: 10px 25px;
    background-color: lightseagreen;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.header h1 {
    margin: 0;
}

.Nmoji-body {
    width: 130vh; /* Turn this into vh so the container wont change when there are no emojis shown*/
    display: flex;
    justify-content: space-between; /* Changed this into space-between from center so that it will line up with the container above*/
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.Nmoji-filter-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* removed gap: 0 and justify-content: center since they don't do anything*/
}

.search-bar {
    position: relative;
    width: 70%;
    display: flex;
    align-items: center;
}

.filter-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 1.2em;
    border: 3px outset lightslategrey;
    border-radius: 5px 0 0 5px;
    transition: border-color 0.3s ease-in-out;
    /* text-align: center; Search bar input usually starts at the beginning of the bar*/
    margin: 0 auto;
    background-color: #fff;
    color: #333;
}

.filter-input:focus {
    border-color: lightseagreen;
    border: 3px outset lightseagreen;
}

.filter-input::placeholder {
    text-align: center;
}

.search-icon {
    position: absolute;
    right: 10px;
    font-size: 1.2em;
    color: gray;
    padding: 5px;
}

.filter-select {
    width: 50%;
    max-width: 170px;
    border: 3px outset lightslategrey;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
    background-color: #fff;
    color: #333;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}

.filter-select:focus {
    border: 3px outset lightseagreen;
}

.filter-bar {
    width: 100%;
    font-size: 1.2em;
    text-align: right;
}

#emojiContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 350px;
    max-height: 350px;
    overflow-y: auto;
    border: 5px outset lightseagreen;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    width: 70%;
    /* margin: 0 auto; flex box already centers it for us we don't need to center it again with the margin*/
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.emoji {
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 5px;
    font-size: 1.7em;
    border-radius: 20px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.emoji.clicked {
    background-color: lightcoral !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.emoji:hover {
    background-color: lightseagreen;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.emoji-description {
    width: 26%;
    padding: 20px;
    border: 5px outset lightseagreen;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* margin: 0 auto;  This will center the box in the bottom container not aligning it with the top*/
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.selected-emoji {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 10px 0;
    font-size: 1.7em;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.emoji-title {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.emoji-paragraph {
    font-size: 15px;
    color: #333;
    transition: color 0.3s ease;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 15px 25px;
    background-color: lightseagreen;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

.footer .link {
    color: darkred;
    text-decoration: none;
}

.footer .link:hover {
    text-decoration: underline;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.sun-icon {
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: 3em;
    transition: opacity 0.4s ease;
}

.moon-icon {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 3em;
    transition: opacity 0.4s ease;
    opacity: 0;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

input:checked + .slider {
    background-color: lightseagreen;
}

#theme-toggle {
    background: linear-gradient(135deg, #9be4ab, #515594);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

#theme-toggle:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}
