@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px; /* Add margin to avoid content overlap with fixed header */
    margin-bottom: 80px; /* Add margin to avoid content overlap with fixed footer */
}

.header {
    width: 100%;
    text-align: left;
    padding: 10px 25px;
    background-color: lightseagreen;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
}

.Nmoji-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.Nmoji-filter-container {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.filter-input {
    width: 50%;
    padding: 10px;
    font-size: 1.2em;
    border: 3px outset lightslategrey;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
    text-align: center;
}

.filter-input:focus {
    border-color: lightseagreen;
    border: 3px inset lightseagreen;
}

.filter-input::placeholder {
    text-align: center;
}

#emojiContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 350px;
    max-height: 350px;
    overflow-y: auto;
    border: 5px outset lightseagreen;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    width: 70%;
    min-width: 70%;
    margin: 0 auto;
}

/* Custom scrollbar styles */
#emojiContainer::-webkit-scrollbar {
    width: 12px;
}

#emojiContainer::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

#emojiContainer::-webkit-scrollbar-thumb {
    background-color: lightseagreen;
    border-radius: 10px;
    height: 10%;
    transition: background-color 0.3s ease;
}

#emojiContainer::-webkit-scrollbar-thumb:hover {
    background-color: #4a7f6d; /* Darker shade of lightseagreen for hover effect */
}

/* Emoji styling */
.emoji {
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 5px;
    font-size: 1.7em;
    border-radius: 20px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.emoji.clicked {
    background-color: lightcoral !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.emoji:hover {
    background-color: lightseagreen;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

/* Container for the emoji description */
.emoji-description {
    width: 25%;
    padding: 20px; /* Increased padding for better spacing */
    border: 5px outset lightseagreen;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

/* Emoji styling */
.selected-emoji {
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 5px;
    font-size: 1.7em;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

/* Title styling */
.emoji-title {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Category styling */
.emoji-category {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

/* Tags styling */
.emoji-tags {
    font-size: 16px;
    color: lightseagreen;
    margin-top: 10px;
    font-weight: bold;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: lightseagreen;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer .link {
    color: darkred;
    text-decoration: none;
    font-weight: bold;
}

.footer .link:hover {
    text-decoration: underline;
}

.filter-select {
    margin-left: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: greenyellow;
    font-family: arial black;
}
